doctype html

html
  head
    meta(charset='UTF-8')
    title Redux TodoMVC Example (Popup)
    link(rel='stylesheet', href='/todoapp.css')
    style.
      body { width: 500px; }

  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src='/js/todoapp.bundle.js')
